<form
    hx-patch="/api/v1/item/{{ items[0].item_id }}"
    hx-trigger="submit"
    hx-target="#item-{{ items[0].item_id }}"
    hx-swap="innerHTML"
    class="p-5 bg-[#1b1512] rounded"
>
    <input
        type="number"
        name="picture_id"
        id="picture_id"
        value="{{ items[0].item_id }}"
        class="hidden"
    />
    <div class="aspect-square relative mb-4">
        <img
            class="object-cover rounded-md w-full h-full"
            src="data:image/png;base64,{{ items[0].image }}"
            alt="item-{{ items[0].item_id }}-{{ items[0].name }}"
        />
    </div>
    <div class="mb-4">
        <label for="name" class="block text-[#d4c3bc] text-sm font-bold mb-2"
            >Name</label
        >
        <input
            type="text"
            name="name"
            id="name"
            placeholder="{{ items[0].name }}"
            required
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        />
    </div>

    <div class="mb-4">
        <label for="expiry_date" class="text-[#d4c3bc] text-sm font-bold mb-2"
            >Expiry date</label
        >
        <input
            type="date"
            name="expiry_date"
            id="expiry_date"
            placeholder="{{ items[0].expiry_date }}"
            required
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        />
    </div>

    <div class="mb-4">
        <label
            for="category"
            class="block text-[#d4c3bc] text-sm font-bold mb-2"
            >Category</label
        >
        <input
            type="text"
            name="category"
            id="category"
            placeholder="{{ items[0].category }}"
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        />
    </div>

    <div class="mb-6">
        <label for="notes" class="block text-[#d4c3bc] text-sm font-bold mb-2"
            >Notes</label
        >
        <textarea
            name="notes"
            id="notes"
            rows="3"
            placeholder="{{ items[0].notes }}"
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        ></textarea>
    </div>

    <div class="flex items-center justify-between">
        <button
            type="submit"
            class="bg-[#1a5f7a] hover:bg-[#1e7495] mr-4 rounded-md px-4 py-2 focus:outline-none focus:shadow-outline"
        >
            Save
        </button>
        <button
            type="button"
            class="bg-[#7a1a1a] hover:bg-[#951e1e] rounded-md px-4 py-2 focus:outline-none focus:shadow-outline"
            hx-trigger="click"
            hx-get="/api/v1/items?id={{ items[0].item_id }}"
            hx-target="#item-{{ items[0].item_id }}"
            hx-swap="innerHTML"
        >
            Cancel
        </button>
    </div>
</form>
