<form
    id="edit-image-{{ id }}"
    hx-put="/api/v1/edit_image/{{ id }}"
    class="p-5 bg-[rgb(27,21,18)] rounded"
    hx-target="body"
    hx-swap="beforeend"
>
    <input
        type="number"
        name="picture_id"
        id="picture_id"
        value="{{ id }}"
        class="hidden"
    />

    <div class="mb-4">
        <label for="name" class="block text-[#d4c3bc] text-sm font-bold mb-2"
            >Name</label
        >
        <input
            type="text"
            name="name"
            id="name-{{ id }}"
            required
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        />
    </div>

    <div class="mb-4">
        <label
            for="expiry_date"
            class="block text-[#d4c3bc] text-sm font-bold mb-2"
            >Expiry date</label
        >
        <input
            type="date"
            name="expiry_date"
            id="expiry_date"
            required
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        />
    </div>

    <div class="mb-4">
        <label
            for="category"
            class="block text-[#d4c3bc] text-sm font-bold mb-2"
            >Category</label
        >
        <input
            type="text"
            name="category"
            id="category"
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        />
    </div>

    <div class="mb-6">
        <label for="notes" class="block text-[#d4c3bc] text-sm font-bold mb-2"
            >Notes</label
        >
        <textarea
            name="notes"
            id="notes"
            rows="3"
            class="w-full text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline placeholder:text-[#8b6f62]"
        ></textarea>
    </div>

    <div class="flex items-center justify-between">
        <button
            type="submit"
            class="bg-[#1a5f7a] hover:bg-[#1e7495] mr-4 rounded-md px-4 py-2 focus:outline-none focus:shadow-outline text-white"
            onclick="document.getElementById('image-{{ id }}').classList.add('hidden');"
        >
            Submit
        </button>
        <button
            type="button"
            class="bg-[#7a1a1a] hover:bg-[#951e1e] rounded-md px-4 py-2 focus:outline-none focus:shadow-outline text-white"
            hx-trigger="click"
            hx-get="/api/v1/images?id={{ id }}"
            hx-target="#image-{{ id }}"
            hx-swap="innerHTML"
        >
            Cancel
        </button>
    </div>
</form>
<script>
    document.getElementById("name-{{ id }}").focus();
</script>
