<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>StockSaver | Email</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='css/output.css') }}"
        />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body class="h-full flex flex-col items-center bg-[#100e0d] p-4">
        <header
            class="flex justify-between w-full border-b border-[#271c16] mb-6"
        >
            <a
                href="/"
                class="text-[#d4c3bc] font-semibold hover:scale-105 mx-4 pb-4 pt-2 text-lg"
                >Home</a
            >
        </header>
        <h1 class="font-semibold text-lg text-[#d4c3bc] mb-4">
            Email notifications:
            <span
                id="switch"
                class="{{ 'text-green-500' if enabled else 'text-red-500' }}"
                >{{ "ON" if enabled else "OFF" }}</span
            >
        </h1>
        {% if enabled %}
        <button
            id="disable"
            class="text-white bg-[#7a1a1a] hover:bg-[#951e1e] rounded-md px-4 py-2 mb-4 focus:outline-none focus:shadow-outline"
            hx-patch="/email"
            hx-trigger="click"
            hx-target="#switch"
            hx-swap="outerHTML"
            onclick="removeReadOnly()"
        >
            Disable
        </button>
        {% else %}
        <button id="disable" class="hidden"></button>
        {% endif %}
        <form
            id="form"
            class="flex flex-col"
            hx-post="/api/v1/date_filtered_items"
            hx-trigger="submit"
            hx-target="body"
            hx-swap="beforeend"
        >
            <label for="email" class="text-[#d4c3bc] mb-1">To:</label>
            <input
                type="email"
                name="email"
                id="email"
                class="mb-4 placeholder:text-[#8b6f62] text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline"
                required
                {%
                if
                enabled
                %}
                placeholder="{{ to_addr }}"
                readonly
                {%
                endif
                %}
            />
            <label for="subject" class="text-[#d4c3bc] mb-1">Subject:</label>
            <input
                type="text"
                name="subject"
                id="subject"
                class="mb-4 placeholder:text-[#8b6f62] text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline"
                required
                maxlength="100"
                {%
                if
                enabled
                %}
                placeholder="{{ subject }}"
                readonly
                {%
                endif
                %}
            />
            <label for="days" class="text-[#d4c3bc] mb-1">Days:</label>
            <input
                type="number"
                name="days"
                id="days"
                class="mb-4 placeholder:text-[#8b6f62] text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline"
                required
                min="1"
                {%
                if
                enabled
                %}
                value="{{ days }}"
                readonly
                {%
                endif
                %}
            />
            <label for="time" class="text-[#d4c3bc] mb-1">Time:</label>
            <input
                type="time"
                name="time"
                id="time"
                class="mb-4 placeholder:text-[#8b6f62] text-[#b69c93] bg-[#271c16] rounded-md px-3 py-2 focus:outline-none focus:shadow-outline w-full"
                required
                {%
                if
                enabled
                %}
                value="{{ time }}"
                readonly
                {%
                endif
                %}
            />
            <button
                id="submit"
                type="submit"
                class="{{ 'hidden' if enabled }} w-full px-6 py-3 bg-[#2c4a3e] hover:bg-[#3d6b59] text-white font-semibold rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 mt-3"
            >
                Submit
            </button>
        </form>
        {%if enabled%}
        <p id="err" class="text-[#d4c3bc] mt-4">
            Next run time at: <b>{{ next_run_time }}</b>
        </p>
        {%endif%}
        <script>
            document
                .getElementsByTagName("button")[0]
                .addEventListener("click", () => {
                    if (document.getElementById("err")) {
                        document.getElementById("err").remove();
                    }
                });
            document.getElementById("form").addEventListener("submit", () => {
                Array.from(document.getElementsByTagName("input")).forEach(
                    (input) => {
                        input.readOnly = true;
                    }
                );
            });
            function removeReadOnly() {
                if (document.getElementById("err")) {
                    document.getElementById("err").remove();
                }
                Array.from(document.getElementsByTagName("input")).forEach(
                    (input) => {
                        input.removeAttribute("readOnly");
                    }
                );
            }
        </script>
    </body>
</html>
