{% for img in images %} {% if img.initial %}
<div id="image-{{ img.id }}">
    <h1>Filename: {{ img.filename }}</h1>
    <p>Filesize: {{ img.filesize }}</p>
    <img src="data:image/png;base64,{{ img.src }}" alt="Embedded Image" />
    <p>Initial: {{ img.initial }}</p>
    <button
        hx-get="/api/v1/edit_image/{{ img.id }}"
        hx-trigger="click"
        hx-target="#image-{{ img.id }}"
        hx-swap="afterend"
        class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        onclick="this.classList.add('hidden')"
    >
        Edit info
    </button>
</div>
{% endif %} {% endfor %}
