<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>poc</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <form
            hx-post="/api/v1/images"
            hx-trigger="submit"
            enctype="multipart/form-data"
            hx-target="#item-cnt"
            hx-swap="innerHTML"
        >
            <label>Image</label>
            <input type="file" name="file" />
            <input type="submit" />
        </form>
        <div
            id="item-cnt"
            hx-trigger="load"
            hx-get="/api/v1/images"
            hx-swap="innerHTML"
        ></div>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    </body>
</html>
