<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>poc</title>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body
        class="h-full flex flex-col items-center bg-gray-800 text-white space-y-6 p-4"
    >
        <h1
            class="text-4x font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 sm:text-5xl md:text-6xl"
        >
            Welcome
        </h1>
        <a
            href="/upload"
            class="px-6 py-3 bg-purple-600 hover:bg-purple-700 text-white font-semibold rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105"
            >Upload image</a
        >
        <div class="flex space-x-4">
            <button
                class="px-4 py-2 bg-pink-600 hover:bg-pink-700 text-white font-medium rounded-md shadow-sm transition duration-300 ease-in-out"
                hx-get="/api/v1/date_filtered_items"
                hx-trigger="click"
                hx-target="#item-cnt"
                hx-swap="innerHTML"
                hx-headers='{"custom_format": "text/html"}'
            >
                Soon expired
            </button>
            <button
                class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-md shadow-sm transition duration-300 ease-in-out"
                hx-get="/api/v1/date_filtered_items"
                hx-trigger="click"
                hx-target="#item-cnt"
                hx-swap="innerHTML"
            >
                Send email
            </button>
        </div>
        <form
            hx-post="/api/v1/search"
            hx-trigger="submit"
            hx-target="#item-cnt"
            hx-swap="innerHTML"
            onsubmit="document.getElementById('clear-search').classList.remove('hidden')"
        >
            <button
                type="button"
                id="clear-search"
                class="hidden mr-4 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:shadow-outline"
                hx-get="/api/v1/items"
                hx-trigger="click"
                hx-target="#item-cnt"
                hx-swap="innerHTML"
                onclick="this.classList.add('hidden'); document.getElementById('search').value = ''; document.getElementById('search').focus()"
            >
                X
            </button>
            <input
                type="text"
                name="search"
                id="search"
                placeholder="Search..."
                class="text-black border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:shadow-outline"
                required
            />
            <button
                type="submit"
                class="ml-4 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:shadow-outline"
            >
                Search
            </button>
        </form>

        <div
            id="item-cnt"
            hx-trigger="load"
            hx-get="/api/v1/items"
            hx-swap="innerHTML"
            class="flex flex-wrap justify-center gap-4 p-6 bg-gray-800 bg-opacity-50 rounded-lg shadow-lg w-full max-w-3xl"
        ></div>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <!-- <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script> -->
    </body>
</html>
