<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>poc</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <a href="/upload">Upload image</a>
        <button
            hx-get="/api/v1/date_filtered_items"
            hx-trigger="click"
            hx-target="#item-cnt"
            hx-swap="innerHTML"
            hx-headers='{"custom_format": "text/html"}'
        >
            Soon expired
        </button>
        <button
            hx-get="/api/v1/date_filtered_items"
            hx-trigger="click"
            hx-target="#item-cnt"
            hx-swap="innerHTML"
        >
            Send email
        </button>
        <div
            id="item-cnt"
            hx-trigger="load"
            hx-get="/api/v1/items"
            hx-swap="innerHTML"
        ></div>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <!-- <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script> -->
    </body>
</html>
