<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-800">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Upload</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="h-full flex flex-col items-center">
        <div class="max-w-md w-full space-y-8 p-8 shadow-lg rounded-lg">
            <div>
                <h1
                    class="text-center text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 sm:text-5xl md:text-6xl"
                >
                    Upload Image
                </h1>
                <p class="mt-2 text-center text-sm text-gray-600">
                    <a
                        href="/"
                        class="font-medium text-indigo-600 hover:text-indigo-500"
                    >
                        Back to Home
                    </a>
                </p>
            </div>
            <form
                hx-post="/api/v1/images"
                hx-trigger="submit"
                enctype="multipart/form-data"
                hx-target="#image-cnt"
                hx-swap="innerHTML"
                class="mt-8 space-y-6"
            >
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="file-upload" class="sr-only"
                            >Choose file(s)</label
                        >
                        <input
                            id="file-upload"
                            name="file"
                            type="file"
                            multiple
                            class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
                            placeholder="Choose file(s)"
                        />
                    </div>
                </div>

                <div>
                    <button
                        type="submit"
                        class="w-full px-6 py-3 bg-purple-600 hover:bg-purple-700 text-white font-semibold rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105"
                    >
                        Upload
                    </button>
                </div>
            </form>
        </div>

        <div
            id="image-cnt"
            hx-trigger="load"
            hx-get="/api/v1/images"
            hx-swap="innerHTML"
            class="mt-8 max-w-md w-full bg-white shadow-lg rounded-lg p-6"
        >
            <h3 class="text-lg font-medium text-gray-900 mb-4">
                Uploaded Images
            </h3>
            <!-- Images will be loaded here -->
        </div>
    </body>
</html>
